{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>
  </head>

  <body>
    <!-- Here is our main header that is used across all the pages of our website -->

    <header>
      <h1>Zyoger</h1>
    </header>

    <nav>
      <ul>
        <li><a href="{% url "home" %}">Главная</a></li>
        <li><a href="{% url "about" %}">Обо мне</a></li>
        <li><a href="{% url "works" %}">Мои проекты</a></li>
        <li><a href="{% url "contacts" %}">Контакты</a></li>
      </ul>
     </nav>

    <!-- Here is our page's main content -->
    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <!-- And here is our main footer that is used across all the pages of our website -->

    <footer>
      <p>©Zyoger 2022.</p>
    </footer>

  </body>
</html>
